In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
##Preprocess the data
##Drop irrelevent columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## Encode Categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']) )
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine geo_encoded_df with  original dataframe
data = pd.concat([data.drop(['Geography'],axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [7]:
## Divide the datset into training and testing set

X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:

## Splioting the data into training and testing set

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

## Scaling the features

reg_scaler = StandardScaler()
X_train = reg_scaler.fit_transform(X_train)
X_test = reg_scaler.transform(X_test)

In [9]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler_regression.pkl', 'wb') as file:
    pickle.dump(reg_scaler, file)

In [10]:
## Building ANN model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras import regularizers


reg_model = Sequential([
    Dense(64, activation='relu',input_shape = (X_train.shape[1],),),   #HL1
    Dropout(0.1),

    Dense(32, activation='relu'),                                      #HL2
    Dropout(0.1),

    Dense(1)                                                           #O/p Linear_regression
])

C:\Users\Sahil\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [11]:
## Compiling
reg_model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

reg_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [12]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard logging
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [13]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [14]:
# Training the model
history = reg_model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test), 
    epochs=100, batch_size=32,
    callbacks=[early_stopping_callback, tensorflow_callback]
    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100362.9766 - mae: 100362.9766 - val_loss: 98458.7656 - val_mae: 98458.7656
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 982us/step - loss: 99422.7578 - mae: 99422.7578 - val_loss: 96547.8125 - val_mae: 96547.8125
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 963us/step - loss: 96108.9062 - mae: 96108.9062 - val_loss: 91672.2812 - val_mae: 91672.2812
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 945us/step - loss: 89650.4922 - mae: 89650.4922 - val_loss: 83790.9922 - val_mae: 83790.9922
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - loss: 80638.7344 - mae: 80638.7344 - val_loss: 74198.2344 - val_mae: 74198.2344
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 971us/step - loss: 70917.3359 - mae: 70917.3359 - val_loss: 65082.7070 - val_mae: 65082.7070
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 965us/step - loss: 62254.8438 - mae: 62254.8438 - val_loss: 57971.6133 - val_mae: 57971.6133
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 988us/step - loss: 56158.9531 - mae: 56158.9531 - val_loss: 53733.1875 - val_mae: 53733.1875
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52962.3516 - mae: 52962.3516 - val_loss: 51914.9258 - val_mae: 51914.9258
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 965us/step - loss: 51592.6328 - mae: 51592.6328 - val_loss: 51263.2422 - val_mae: 51263.2422
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 989us/step - loss: 50987.0469 - mae: 50987.0469 - val_loss: 51031.7070 - val_mae: 51031.7070
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50803.8672 - mae: 50803.8672 - val_loss: 50922.9883 - val_mae: 50922.9883
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50856.0664 - mae: 50856.0664 - val_loss: 50864.2070 - val_mae: 50864.2070
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 998us/step - loss: 50803.4336 - mae: 50803.4336 - val_loss: 50805.1055 - val_mae: 50805.1055
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50491.9219 - mae: 50491.9219 - val_loss: 50754.1641 - val_mae: 50754.1641
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 969us/step - loss: 50651.9258 - mae: 50651.9258 - val_loss: 50707.8789 - val_mae: 50707.8789
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - loss: 50645.3008 - mae: 50645.3008 - val_loss: 50656.7227 - val_mae: 50656.7227
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 959us/step - loss: 50464.4414 - mae: 50464.4414 - val_loss: 50626.4844 - val_mae: 50626.4844
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 945us/step - loss: 50383.8789 - mae: 50383.8789 - val_loss: 50601.8438 - val_mae: 50601.8438
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 955us/step - loss: 50335.2148 - mae: 50335.2148 - val_loss: 50569.6875 - val_mae: 50569.6875
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 963us/step - loss: 50373.4453 - mae: 50373.4453 - val_loss: 50540.4961 - val_mae: 50540.4961
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 966us/step - loss: 50328.7461 - mae: 50328.7461 - val_loss: 50512.1523 - val_mae: 50512.1523
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 952us/step - loss: 50223.8398 - mae: 50223.8398 - val_loss: 50488.1289 - val_mae: 50488.1289
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 965us/step - loss: 50134.7227 - mae: 50134.7227 - val_loss: 50472.8906 - val_mae: 50472.8906
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50097.7266 - mae: 50097.7266 - val_loss: 50444.9414 - val_mae: 50444.9414
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 950us/step - loss: 50065.3945 - mae: 50065.3945 - val_loss: 50435.2031 - val_mae: 50435.2031
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 963us/step - loss: 50257.2734 - mae: 50257.2734 - val_loss: 50412.8281 - val_mae: 50412.8281
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - loss: 50242.6953 - mae: 50242.6953 - val_loss: 50392.0078 - val_mae: 50392.0078
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 958us/step - loss: 50177.0586 - mae: 50177.0586 - val_loss: 50370.8086 - val_mae: 50370.8086
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 970us/step - loss: 50037.1094 - mae: 50037.1094 - val_loss: 50362.5312 - val_mae: 50362.5312
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 950us/step - loss: 50129.5898 - mae: 50129.5898 - val_loss: 50365.0664 - val_mae: 50365.0664
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 991us/step - loss: 50081.5586 - mae: 50081.5586 - val_loss: 50351.9961 - val_mae: 50351.9961
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 941us/step - loss: 50009.0117 - mae: 50009.0117 - val_loss: 50321.2031 - val_mae: 50321.2031
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50188.9297 - mae: 50188.9297 - val_loss: 50314.1562 - val_mae: 50314.1562
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 957us/step - loss: 49983.0078 - mae: 49983.0078 - val_loss: 50306.0742 - val_mae: 50306.0742
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - loss: 50051.0117 - mae: 50051.0117 - val_loss: 50293.1797 - val_mae: 50293.1797
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - loss: 50076.9336 - mae: 50076.9336 - val_loss: 50296.8008 - val_mae: 50296.8008
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - loss: 50111.5156 - mae: 50111.5156 - val_loss: 50290.3828 - val_mae: 50290.3828
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 969us/step - loss: 50130.5391 - mae: 50130.5391 - val_loss: 50283.1680 - val_mae: 50283.1680
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - loss: 50077.9375 - mae: 50077.9375 - val_loss: 50277.2930 - val_mae: 50277.2930
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 986us/step - loss: 50180.5234 - mae: 50180.5234 - val_loss: 50262.7578 - val_mae: 50262.7578
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 952us/step - loss: 49919.4141 - mae: 49919.4141 - val_loss: 50262.4062 - val_mae: 50262.4062
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50031.0000 - mae: 50031.0000 - val_loss: 50250.4023 - val_mae: 50250.4023
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - loss: 49805.3789 - mae: 49805.3789 - val_loss: 50245.1797 - val_mae: 50245.1797
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 967us/step - loss: 49923.1719 - mae: 49923.1719 - val_loss: 50253.1445 - val_mae: 50253.1445
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 962us/step - loss: 50008.4727 - mae: 50008.4727 - val_loss: 50252.0781 - val_mae: 50252.0781
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 947us/step - loss: 49830.8242 - mae: 49830.8242 - val_loss: 50255.0781 - val_mae: 50255.0781
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50003.5391 - mae: 50003.5391 - val_loss: 50247.7969 - val_mae: 50247.7969
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - loss: 49772.7734 - mae: 49772.7734 - val_loss: 50248.9805 - val_mae: 50248.9805

In [15]:
## Evaluating the model
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit/20250824-193209

Reusing TensorBoard on port 6006 (pid 24860), started 0:00:03 ago. (Use '!kill 24860' to kill it.)

In [17]:
# Evaluating the model
test_loss, test_mae = reg_model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 50245.1797 - mae: 50245.1797
Test Loss: 50245.1796875, Test MAE: 50245.1796875

In [18]:
reg_model.save('salary_prediction__reg_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [19]:
print(data.columns)
print(X_train.shape)
print(X_test.shape)

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')
(8000, 12)
(2000, 12)